{% extends 'core/base.html' %} {% load static %} {% block content %}

<form id="home" class="w-full flex flex-col items-center" method="get" action="{% url 'check_speed' %}">
    <h1 class="mb-10 text-5xl">Speed Checker</h1>
    <div class="w-72 h-72">
        <img src="{% static 'images/speed.jpg' %}" alt="Netzwerk" class="rounded-xl h-full w-full object-cover" />
    </div>
    <button type="submit" class="p-2 rounded-xl mt-10 bg-blue-500 font-extralight w-72 hover:bg-blue-400">
    Geschwindigkeit testen
  </button>
</form>

{% endblock content %}